
@mixin blur($px: 0) {
  -webkit-filter: blur($px);     
  filter: blur($px);
}

@mixin bkg-img-gradient($img-path) {
  background: linear-gradient(
                rgba(100,0,10,0.4),
                rgba(0,0,0,0)
              ), image-url($img-path);
}