@import "compass";

$sans-serif-1: "Source Sans Pro", Arial, sans-serif;

* {
  font-weight: 200;
  font-family: $sans-serif-1;
}

p {
  font-size: 1.3em;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font: {
    size: 3.4em;
    family: $sans-serif-1;
    weight: 500;
  };
  line-height: 1.2em;
  margin: 0 0 30px 0;

  &.main {
    @include single-text-shadow;
  }
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 12pt;
  line-height: 2em;
  font-family: $sans-serif-1;
  font-weight: 200;
}

a {
  &:visited, &:hover, &:active, &:focus {
    background: none;
  }
  &:hover {
    text-decoration: underline;
  }
}