/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets/.
 */

@import "partials/all";

nav {
  margin-bottom: 30px;

  a {
    font-size: 1.1em;
    margin: 0 15px 0 5px;
    text-transform: uppercase;
    color: $grey-pale;

    &:hover { color: $grey; }
  }
}

p, label, li, td, table {
  font-size: 1.15em;
  font-weight: 200 !important;
}

ul { padding: 0; }

body { 
  background: $grey-pale !important;
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%; 
  position: absolute;

  .body {
    padding: 90px;
    margin: 1em 2em 0 2em;
  }
}

.info {
  background-color: rgba(white, .85);
  @include border-radius(5px);
  margin: 150px 0 0 0;
  
  @media (max-width: $break-lg) {
    margin: 80px 0 0 0;
  }
}

#apartments {
  height: 97%;
  min-width: 100%;
  overflow: scroll;

  &:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-image: image-url("apartments.jpg");
    repeat: no-repeat;
    opacity: .8;
    background-size: cover;
    background-position: left top;
    min-height: 100%;
    min-width: 100%;
  }
}

.borders {
  background-color: white;
  position: fixed;
  z-index: 2000;

  &.vertical {
    height: 100%;
    width: 1em;
    top: 0px;
  
    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  &.horizontal {
    width: 100%;
    height: 1em;

    &.top {
      top: 0;
      left: 0;
    }

    &.bottom {
      bottom: 0;
    }
  }
}

button, .button_to input[type='submit'] {
  background-color: rgba(255, 255, 255, .9);
  border: 2px white solid;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;

  text-transform: uppercase;
  font-size: 20px;
    
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .95);
  }
}