@import "partials/all";

.inactive {
  color: $grey-light;
  font-style: italic;
}

select {
  max-width: 500px;
  word-wrap: break-word;
}

textarea {
  width: 500px;
  height: 100px;
  border: 1px solid $grey-pale;
  padding: 5px;
}